google-cloud-storage
requests
feedparser
functions-framework
python-dotenv
google-cloud-securitycenter # <-- SCC client library
google-cloud-asset # <-- Asset Inventory client library
scikit-learn
pandas
db-dtypes
joblib
matplotlib
seaborn
